/* globals.css */
@import './fonts.css'; /* Import custom fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif; /* Default font for English */
  color: #000;
  background-color: #fff;
}

body[lang="el"] {
  font-family: 'Mynerve', sans-serif; /* Greek text with Mynerve font */
}

/* Additional styles */
