@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light and dark mode variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply fonts based on language */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Quicksand', sans-serif; /* Fallback default */
}

/* English */
html[lang="en"] body {
  font-family: 'Quicksand', sans-serif;
}

/* Greek */
html[lang="el"] body {
  font-family: 'Mynerve', cursive;
}

/* Optional extras you might use */
.serif {
  font-family: 'PT Serif', serif;
}

.elegant {
  font-family: 'EB Garamond', serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}
