@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Mynerve font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default styling */
body {
  color: var(--foreground);
  background: var(--background);
}

/* Font for English */
html[lang="en"] body {
  font-family: 'Quicksand', sans-serif;
}

/* Font for Greek */
html[lang="el"] body {
  font-family: 'Mynerve', cursive !important;
}